.region-highlighted .modal_window {
  display: flex;
  justify-content: center;
  align-self: center;
}
.region-highlighted .messages__wrapper {
  position: fixed;
  border: 1px solid black;
  border-radius: 10px;
  background: #ffffff;
  padding: 0px;
  z-index: 200;
}
.region-highlighted .cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 100;
}
.region-highlighted .title_js {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius-radius: 10px;
}
.region-highlighted .title_js strong {
  color: white;
  width: 300px;
  height: 28px;
  font-size: 14pt;
  padding-left: 20px;
  margin-top: 10px;
}
.region-highlighted button {
  width: 55px;
  height: 32px;
  border-radius: 10px;
  margin: 10px 10px 10px auto;
}
.region-highlighted .message_window {
  overflow: auto;
  padding: 15px;
}

