{% extends "@classy/misc/status-messages.html.twig" %}

{% block messages %}
  {% if message_list is not empty %}
    {{ attach_library('bartik/messages') }}
    <div class="modal_window">
      <div class="cover"></div>
      <div id="elem" class="messages__wrapper layout-container" draggable="true">
        <div class="messages_window">
          <div class="title_js">
            <strong>{{ title }}</strong>
            <button>Close</button>
          </div>
          <div class="message_window">
          {{ parent() }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock messages %}
